@import url("https://use.typekit.net/gvm0ikq.css");

body {
    background-color: #e7d3e6;

    margin-left: 15%;
    margin-right: 15%;
  }
  h1, h2, p, ul, li {
    font-family: masqualero, sans-serif;
  }
  h2 {
    color:rgb(70, 49, 60);
    font-size:xx-large;
  }
  p {
    line-height: 1.5;
    font-size: large;
    text-align: center;
  }
  h3 {
    font-size:medium;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: rgb(151, 89, 153);
    padding: 0;
    border-radius: 25px;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #b294b9;
    border-radius: 25px;
  }